<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="{S_CONTENT_DIRECTION}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
{META_HTTP_EQUIV_TAGS}
<title>{PAGE_TITLE} - Open de Pedro Bernardo</title>{META_TAGS}
{META}
{NAV_LINKS}
<link rel="stylesheet" href="{T_HEAD_STYLESHEET}" type="text/css">
<style type="text/css">
<!--
body {
	background-color:#a1a1a1;
	background-image:url({T_PATH}../img/pb_background.jpg);
	background-repeat:repeat-x;
}

-->
</style>
<!--[if IE]>
<style type="text/css">
/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("{T_PATH}formIE.css");
</style>
<![endif]-->
</head>
<body text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}">
<a name="top"></a>
<header>
    <h1>II Open de Ala Delta de Pedro Bernardo</h1>
    <h2>Del miércoles 1 al sábado 4 de Mayo de 2013</h2>
    <a href="http://opendepb.com/presentacion.html" title="Presentación del Open"><img class="logo" src="{T_PATH}../img/logo.png"/></a>
     <nav>
      <ul>
        <li><a href="http://clubdevuelopb.com/open">Noticias</a></li>
        <li><a href="presentacion.html">Presentación</a></li>
        <li><a href="reglamento.html">Reglamento</a></li>
        <li><a href="pilotos_2012.html">Pilotos</a></li>
        <li><a href="clasificacion_2012.html">Clasificación</a></li>
        <li class="active"><a href="http://localhost/leonardo/index.php?name=leonardo&op=list_flights&sortOrder=FLIGHT_POINTS">LeonardoXC</a></li>
        <li><a href="balizas.html">Balizas</a></li>
        <li><a href="mapa.html">Mapa</a></li>
        <li><a href="alojamientos.html">Alojamiento</a></li>
        <li><a href="patrocinadores.html">Patrocinan</a></li>
        <li><a href="archivo.html">Archivo</a></li>
      </ul>
    </nav>




</header>

<div class="article">

		<!-- BEGIN show_header -->
		
		<!-- END show_header -->
