<div class="leonardo_logo"><a href="http://leonardoxc.net" title="Powered by LeonardoXC" target="_blank"><img src="/leonardo/templates/opendepb/img/leonardo_logo.gif"/></a></div>
</div><!-- article  -->
{CUSTOM_FOOTER_CODE}

<script language="javascript">
;(function ( $, window, document, undefined ) {

  $(document).ready(function() {
    var lis = $(".mainWrapCell > #nav > li");
    $(lis[1]).show();
    $(lis[2]).show();
    $(lis[5]).show();
    $(lis[6]).show();
    $('div.article').show();
  });

})(jQuery, window, document);
</script>
</body>
</html>
